body {
    margin: 0;
    background: #0b0e11;
    color: white;
    font-family: Arial, sans-serif;
}

header {
    background: #0d47a1;
    padding: 25px;
    text-align: center;
}

.section {
    padding: 20px;
}

.row {
    display: flex;
    overflow-x: auto;
    gap: 15px;
}

.song-card {
    width: 150px;
    background: #11151b;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.song-card img {
    width: 100%;
    height: 140px;
    border-radius: 10px;
}

.song-card a {
    text-decoration: none;
    color: white;
}

.player-box {
    padding: 30px;
    text-align: center;
}

.cover {
    width: 200px;
    border-radius: 15px;
    margin-bottom: 20px;
}

input, button {
    padding: 12px;
    width: 80%;
    margin: 10px auto;
    display: block;
    border-radius: 8px;
}
